version: "3"

services:
  mitama:
    image: mitamaorg/mitama:latest-mysql
    ports:
      - 80:80
    depends_on:
      - mysql
    volumes:
      - "./:/project"
    environment:
      - MITAMA_MYSQL_PASSWORD=$MITAMA_MYSQL_PASSWORD
  mysql:
    image: mysql:latest
    container_name: "mitama_mysql"
    ports:
      - 3306:3306
    volumes:
      - "./data:/var/lib/mysql"
    environment:
      - MYSQL_RANDOM_ROOT_PASSWORD=yes
      - MYSQL_USER=mitama
      - MYSQL_PASSWORD=$MITAMA_MYSQL_PASSWORD
      - MYSQL_DATABASE=mitama
