{% extends "base_out.html" %}
{% block content %}
<div class='container mb-5 mt-5'>
    <h1>図鑑登録フォーム</h1>
    <p>
        個人情報に関しましては個人が特定されないような活用をし、LCとして厳重に管理させていただきます。
        詳しいご説明は、下記のプライバシーポリシーをご確認ください。<br>
        <a href="http://www.aiesec.jp/privacypolicy/">▷弊団体の個人情報取り扱いに関する方針(プライバシーポリシー)</a>
    </p>
    <div class='mb-3 form-check'>
        <input type='checkbox' id="policy" class='form-check-input'/>
        <label class='form-check-label' for="policy"><a href="http://www.aiesec.jp/privacypolicy/">プライバシー・ポリシー</a>に同意します</label>
    </div>
    <button class='btn btn-primary' id="submit_button" disabled>登録を開始する</button>
</div>
<script>
document.querySelector("#policy").onchange=function(){
    if(this.checked){
        document.querySelector("#submit_button").disabled=false
    }else{
        document.querySelector("#submit_button").disabled=true
    }
}
document.querySelector("#submit_button").onclick=e => {
    location.href="{{ url("/create/first") }}"
}
</script>
{% endblock %}
