{% extends "base_out.html" %}
{% block content %}
{% set post = request.post()%}
<form method="POST" enctype='multipart/form-data' class='container mb-5 mt-5'>
    <h1>図鑑登録フォーム</h1>
    <div class='mb-3'>
        <label class='form-label'>名前</label>
        <input class='form-control' type="text" name="name" placeholder="名前" value="{{ post.name }}" required />
    </div>
    <div class='mb-3'>
        <label class='form-label'>ふりがな</label>
        <input class='form-control' type="text" name="ruby" placeholder="ふりがな" value="{{ post.ruby }}" required />
    </div>
    <div class='mb-3'>
        <label class='form-label'>生年月日</label>
        <input class='form-control' type="date" name="birthday" placeholder="生年月日" value="{{ post.birthday }}" required />
    </div>
    <div class='mb-3'>
        <label class='form-label'>入会年度(ex. 2020年度入会の場合は2020)</label>
        <input class='form-control' type="number" name="epoch" placeholder="入会年度" min="1945" value="{{ post.epoch }}" required />
    </div>
    <div class='mb-3'>
        <label class='form-label'>アイセックキャリア</label>
        <p>現役時代と名前が異なる場合は、日本語名と近いもの、もしくはその他にご記入ください</p>
        <div class='mt-2'>
            <label class='form-label'>1回生</label>
            <select name='career1' class='form-select'>
                <option value="">未選択</option>
                {% for key, obj in CARRER_TYPES.items() %}
                {% if obj is mapping %}
                <optgroup label='{{ key }}'>
                {% for key_, label in obj.items() %}
                <option value='{{ key_ }}' {% if post.career1 == key_ %}selected{% endif %}>{{ label }}</option>
                {% endfor %}
                </optgroup>
                {% else %}
                <option value='{{ key }}' {% if post.career1 == key %}selected{% endif %}>{{ obj}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class='mt-2'>
            <label class='form-label'>2回生</label>
            <select name='career2' class='form-select'>
                <option value="">未選択</option>
                {% for key, obj in CARRER_TYPES.items() %}
                {% if obj is mapping %}
                <optgroup label='{{ key }}'>
                {% for key_, label in obj.items() %}
                <option value='{{ key_ }}' {% if post.career2 == key_ %}selected{% endif %}>{{ label }}</option>
                {% endfor %}
                </optgroup>
                {% else %}
                <option value='{{ key }}' {% if post.career2 == key %}selected{% endif %}>{{ obj}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class='mt-2'>
            <label class='form-label'>3回生</label>
            <select name='career3' class='form-select'>
                <option value="">未選択</option>
                {% for key, obj in CARRER_TYPES.items() %}
                {% if obj is mapping %}
                <optgroup label='{{ key }}'>
                {% for key_, label in obj.items() %}
                <option value='{{ key_ }}' {% if post.career3 == key_ %}selected{% endif %}>{{ label }}</option>
                {% endfor %}
                </optgroup>
                {% else %}
                <option value='{{ key }}' {% if post.career3 == key %}selected{% endif %}>{{ obj}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class='mt-2'>
            <label class='form-label'>4回生</label>
            <select name='career4' class='form-select'>
                <option value="">未選択</option>
                {% for key, obj in CARRER_TYPES.items() %}
                {% if obj is mapping %}
                <optgroup label='{{ key }}'>
                {% for key_, label in obj.items() %}
                <option value='{{ key_ }}' {% if post.career4 == key_ %}selected{% endif %}>{{ label }}</option>
                {% endfor %}
                </optgroup>
                {% else %}
                <option value='{{ key }}' {% if post.career4 == key %}selected{% endif %}>{{ obj}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    {% for col in extra_columns %}
    <div class='mb-3'>
        <label class='form-label'>{{ col.name }}</label>
        <input class='form-control' type="text" name="extra.{{ col._id }}" placeholder="{{ col.name }}" value="{{ post[col._id] }}" />
    </div>
    {% endfor %}
    <div class='mb-3'>
        <label class='form-label'>写真</label>
        <input class='form-control' type="file" name="image" placeholder="写真" accept="image/png, image/jpeg, image/gif" required/>
    </div>
    <h3 class='mt-4'>公開されない情報</h3>
    <p>EB/BDメンバーにて管理、利用することを目的とする質問です。ご協力お願いいたします</p>
    <div class='mb-3'>
        <label class='form-label'>メールアドレス</label>
        <input class='form-control' name='email' value='{{ post.email }}' required/>
    </div>
    <div class='mb-3'>
        <label class='form-label'>その他連絡のつく手段</label>
        <select name='contactOption' class='form-select'>
            {% for key, label in CONTACT_OPTION_TYPES.items() %}
            <option value='{{ key }}' {% if post.career == key %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
        </select>
    </div>
    <div class='mb-3'>
        <label class='form-label'>ID, URLなど</label>
        <input class='form-control' name='contactIdent' value='{{ post.contactIdent }}' required/>
    </div>
    <p>{{error}}</p>
    {{ forms.csrf(request) }}
    <button class='btn btn-primary'>登録する</button>
</form>
{% endblock %}
