{% extends "base.html" %}
{% block content %}
<div class='container'>
    <h1 class='mb-3'><ruby>{{prof.name}}<rt>{{prof.name}}</rt></ruby></h1>
    <img src="{{ dataurl(prof.image) }}" />
    <dl>
        <dt>入会年度</dt>
        <dd>{{prof.epoch}}</dd>
        <dt>ハッシュタグ</dt>
        <dd>
            {% for tag in prof.tags %}
                {{tag.name}}
            {% endfor %}
        </dd>
        <dt>入会年度</dt>
        <dd>{{prof.epoch}}</dd>
        <dt>アイセックキャリア</dt>
        {% for career in prof.careers %}
        <dd>{{CAREER_TYPES_FLAT[career.type]}}</dd>
        {% endfor %}
        {% for col in extra_columns %}
        <dt>{{col.column.name}}</dt>
        <dd>{{col.value}}</dd>
        {% endfor %}
    </dl>
</div>
{% endblock %}
